---
import Description from '@/components/global/Description.astro'
import H1 from '@/components/global/H1.astro'
import Section from '@/components/global/Section.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: '404' }}>
	<Section>
		<H1>Error 404</H1>
		<Description>Page not found</Description>
	</Section>
</Layout>
