---
import SampleImage from '@/components/SampleImage.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="404">
	<main class="flex-grow">
		<SampleImage alt="A cat trying to catch a fish-shaped cloud." />
	</main>
</Layout>
