---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main class="my-16 flex-grow p-8">
		<h2 class="text-color-primary-darker dark:text-color-primary text-5xl font-black">
			Primary Darker
		</h2>
		<p class="text-color-primary-dark dark:text-color-primary-light my-4 text-3xl">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque consectetur magni
			commodi odit doloribus asperiores exercitationem! Iusto ut ex asperiores, in id
			similique minus molestiae autem aspernatur enim placeat numquam?
		</p>
	</main>
</Layout>
