---
import Description from '@/components/global/Description.astro'
import H1 from '@/components/global/H1.astro'
import Section from '@/components/global/Section.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'About' }}>
	<Section intent={'container'}>
		<header>
			<H1>About this website</H1>
			<Description
				>Learn about the tech stack and inspiration behind AstroKit.</Description
			>
		</header>
		<h2 class="text-2xl font-semibold">Tech Stack</h2>
		<ul>
			<li>Language: Typescript</li>
			<li>Framework: Astro</li>
			<li>Styling: Tailwind CSS</li>
			<li>Component Library: Shadcn/ui (React)</li>
			<li>Database: Astro DB (libSQL)</li>
			<li>ORM: Astro DB (Drizzle)</li>
			<li>Authentication: Clerk</li>
			<li>Analytics: Vercel Analytics</li>
			<li>Internationalization: Astro i18n</li>
			<li>Deployment: Vercel</li>
			<li>Linting & Formatting: ESLint & Prettier</li>
			<!-- <li>Email: Resend</li>
			<li>Email Template : React Email</li>
			<li>Payment: Stripe</li>
			<li>File Storage: UploadThing</li> -->
		</ul>
	</Section>
</Layout>
