---
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
// import colors from 'tailwindcss/colors'
// import defaultTheme from 'tailwindcss/defaultTheme'
// const twConfig = myConfig('./tailwind.config.mjs')

// Import the tailwind configuration file
// import theme from 'tailwind.config.mjs'

// Retrieve the colors object from the theme
// const colors = theme.colors

// Now you can use the colors object as needed
// console.log(colors)
---

<Layout seo={{ title: 'Colors' }}>
  <Section>
    <article class="my-8 flex-grow p-4 text-5xl font-black uppercase">
      <h2 class="bg-background/20 text-foreground/20">Primary Darker</h2>
      <h2 class="text-primary/40">Primary Dark</h2>
      <h2 class="text-primary/60">Primary Default</h2>
      <h2 class="text-primary/80">Primary Light</h2>
      <h2 class="bg-background text-foreground/100">Primary Lighter</h2>
      <br />
      <h2 class="text-primary/20">Primary Darker</h2>
      <h2 class="text-primary/40">Primary Dark</h2>
      <h2 class="text-primary/60">Primary Default</h2>
      <h2 class="text-primary/80">Primary Light</h2>
      <h2 class="text-primary-foreground/100">Primary Lighter</h2>
      <br />
      <h2 class="text-secondary/20">Secondary Darker</h2>
      <h2 class="text-secondary/40">Secondary Dark</h2>
      <h2 class="text-secondary/60">Secondary Default</h2>
      <h2 class="text-secondary/80">Secondary Light</h2>
      <h2 class="text-secondary/100">Secondary Lighter</h2>
      <br />
      <h2 class="text-color-accent-darker">Accent Darker</h2>
      <h2 class="text-color-accent-dark">Accent Dark</h2>
      <h2 class="text-color-accent">Accent Default</h2>
      <h2 class="text-color-accent-light">Accent Light</h2>
      <h2 class="text-color-accent-lighter">Accent Lighter</h2>
      <br />
      <h2 class="bg-color-white text-color-black">Black</h2>
      <h2 class="bg-color-black text-color-white">White</h2>
      <br />
      <h2 class="bg-color-success-light text-color-success-dark">Success Dark</h2>
      <h2 class="text-color-success">Success Default</h2>
      <h2 class="bg-color-success-dark text-color-success-light">Success Light</h2>
      <br />
      <h2 class="bg-color-error-light text-color-error-dark">Error Dark</h2>
      <h2 class="text-color-error">Error Default</h2>
      <h2 class="bg-color-error-dark text-color-error-light">Error Light</h2>
      <br />
      <h2 class="bg-color-warning-light text-color-warning-dark">Warning Dark</h2>
      <h2 class="text-color-warning">Warning Default</h2>
      <h2 class="bg-color-warning-dark text-color-warning-light">Warning Light</h2>
      <br />
      <!-- <h2 class="text-color-primary-darker">Darker</h2>
		<h2 class="text-[var(--color-primary-darker)/20]">Darker</h2>
		<h2 class="text-[color:var(--color-primary-dark)]">Dark</h2>
		<h2 class="text-[color:var(--color-primary)]">Default</h2>
		<h2 class="text-[color:var(--color-primary-light)]">Light</h2>
		<h2 class="text-[color:var(--color-primary-lighter)]">Lighter</h2> -->
    </article>
  </Section>
</Layout>
