---
import Hero from '@/components/Hero.astro'
import Section from '@/components/Section.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'Hero' }}>
	<Section>
		<Hero intent={'background'} />
	</Section>
</Layout>
