---
import Description from '@/components/global/Description.astro'
import H1 from '@/components/global/H1.astro'
import Section from '@/components/global/Section.astro'
import siteConfig from '@/data/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<Section>
		<H1>{siteConfig.title}</H1>
		<Description>{siteConfig.description}</Description>
	</Section>
</Layout>
