---
import Description from '@/components/global/Description.astro'
import H1 from '@/components/global/H1.astro'
import Section from '@/components/global/Section.astro'
import siteConfig from '@/data/config'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
<<<<<<< HEAD
  <section class="flex h-full items-center justify-center">
    <h1 class="text-6xl font-black text-color-accent-800 dark:text-color-accent-300">
      {SITE.title}
    </h1>
    <a href="/about">About</a>
    <!-- <p>
      Incididunt dolor dolor nisi excepteur non. Magna magna pariatur incididunt culpa labore sit
      laboris occaecat aliquip aliquip. Id reprehenderit dolor cillum adipisicing dolore nostrud
      elit tempor minim qui ad dolor aliquip. Nisi consequat fugiat excepteur ullamco non nisi
      cillum.
    </p> -->
    <!-- <button class={cn('w-full caption-bottom text-sm')}>Button</button> -->
    <!-- <ButtonTV>ButtonTV</ButtonTV> -->
    <!-- <SampleImage alt="A cat trying to catch a fish-shaped cloud." /> -->
  </section>
=======
	<Section>
		<H1>{siteConfig.title}</H1>
		<Description>{siteConfig.description}</Description>
	</Section>
>>>>>>> main
</Layout>
