---
import Accordion from '@/components/Accordion'
import Hero from '@/components/Hero.astro'
import Section from '@/components/Section.astro'
import SectionHeader from '@/components/SectionHeader.astro'
import { Separator } from '@/components/ui/separator'
import Layout from '@/layouts/Layout.astro'
---

<Layout seo={{ title: 'Sections' }}>
	<Section class={'animate-in slide-in-from-top-44 duration-700'}>
		<SectionHeader
			title="This is the Sections page."
			description="Accessible and customizable components that you can copy and paste into your webs."
		/>
	</Section>

	<Section
		intent={'full'}
		class="animate-in slide-in-from-right-96 duration-500"
	>
		<SectionHeader
			title="This is the Heroes page."
			description="Everything you need to know about websites"
		/>
		<Hero intent={'background'} />
	</Section>

	<Separator />

	<Section intent={'full'} class="from-right">
		<SectionHeader
			title="This is the FAQ page."
			description="Everything you need to know about websites"
		/>
		<Accordion client:load />
	</Section>

	<Separator />

	<Section intent={'full'} class="reveal">
		<SectionHeader
			title="This is the Heroes page."
			description="Everything you need to know about websites"
		/>
		<Hero intent={'background'} />
	</Section>

	<Separator />

	<Section intent={'full'} class="reveal">
		<SectionHeader
			title="This is the FAQ page."
			description="Everything you need to know about websites"
		/>
		<Accordion client:load />
	</Section>

	<Separator />

	<Section intent={'full'} class="reveal">
		<SectionHeader
			title="This is the Heroes page."
			description="Everything you need to know about websites"
		/>
		<Hero intent={'background'} />
	</Section>

	<Separator />

	<Separator />
</Layout>
