---
import { version } from 'react'
import TailwindIndicator from './theme/TailwindIndicator.astro'
import pkg from '../../package.json'
---

<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-20 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Built with{' '}
      <a
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        {Astro.generator}
      </a> and{' '}
      <a
        href="https://react.dev/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">React {version}</a
      >
      and{' '}
      <a
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
        >Tailwind {pkg.dependencies.tailwindcss}</a
      >
    </p>
  </div>
  <TailwindIndicator align="right" />
</footer>
