---
// import { Picture } from 'astro:assets'
import { Img } from 'astro-imagetools/components'
// import localImage from '../assets/sample.webp'
const localImage = '/src/assets/sample.webp'
interface Props {
	alt: string
}
const { alt } = Astro.props
---

<div class="grid w-full h-full place-content-end">
	<Img src={localImage} alt={alt} placeholder="blurred" format="webp" />
	<!-- Astro assets doesn't have blurred placeholders -->
	<!-- <Picture
		src={localImage}
		alt={alt}
		formats={['avif', 'webp']}
		widths={[450, 800, 1200, 1600]}
		loading="eager"
		sizes="(max-width: 1600px) 100vw, 1600px"
		pictureAttributes={{ class: 'w-full h-full' }}
	/> -->
</div>
