---
import type { HTMLAttributes } from 'astro/types'
import { cva, type VariantProps } from 'class-variance-authority'

export const titleVariants = cva('', {
	variants: {
		intent: {
			background: ['rounded-xl bg-accent/60'],
			outline: ['rounded-xl border'],
		},
	},
})

export interface Props extends HTMLAttributes<'h1'>, VariantProps<typeof titleVariants> {
	title: string
}

// const { intent, size, class: className, ...rest } = Astro.props
const { title, ...rest } = Astro.props
---

<!-- <h1 class={title({ intent, size, className })} data-name="ui-title" {...rest}>
  <slot />
</h1> -->
<h1
	class="font-heading text-pretty text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl"
	transition:name={`section-title${title}`}
	{...rest}
>
	<slot />
</h1>
