---
import '@fontsource-variable/inter'
import '@/assets/styles/global.css'

import { ViewTransitions } from 'astro:transitions'
import { type Props as SEOProps, SEO } from 'astro-seo'
import TailwindIndicator from '@/components/theme/TailwindIndicator.astro'
import ThemeInit from '@/components/theme/ThemeInit.astro'
import siteConfig from '@/data/config'
import Header from '@/components/global/Header.astro'
import Footer from '@/components/global/Footer.astro'

interface Props {
	seo?: SEOProps
}

const { seo } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			titleTemplate={`%s | ${siteConfig.title}`}
			title={seo?.title ?? Astro.generator}
			description={seo?.description ?? siteConfig.description}
			openGraph={{
				basic: {
					title: seo?.title || siteConfig.title,
					type: 'website', // https://ogp.me/#types
					image: siteConfig.opengraph.image || '/open-graph.jpg',
				},
			}}
			{...seo}
		/>
		<ThemeInit />
		<ViewTransitions />
	</head>
	<body class:list={['flex h-screen flex-col transition-all duration-300']}>
		<Header />
		<main class="flex-grow p-4">
			<slot />
		</main>
		<Footer />
		<TailwindIndicator align="right" />
	</body>
</html>
