---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/inter'
import TailwindIndicator from '@/components/TailwindIndicator.astro'
import ThemeIcon from '@/components/theme/ThemeIcon.astro'
import ThemeInit from '@/components/theme/ThemeInit.astro'
// import colors from 'tailwindcss/colors'

interface Props {
	title?: string
}
const { title } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || Astro.generator}</title>
		<ThemeInit />
		<ViewTransitions />
	</head>
	<body
		class:list={[
			'flex h-screen flex-col transition-all duration-300',
			'text-color-primary-darker bg-color-bg-light',
			'dark:text-color-primary-light dark:bg-color-bg-dark',
		]}
	>
		<header class="fixed flex w-full flex-row justify-between p-4">
			<a href="/"><h2 class="text-2xl font-black">{title || Astro.generator}</h2></a>
			<ThemeIcon />
		</header>
		<slot />
		<footer></footer>
		<TailwindIndicator align="right" />
	</body>
</html>
