---
import ThemeIcon from '@/components/theme/ThemeIcon.astro'
---

<!-- <header class="fixed flex w-full flex-row justify-between p-4"> -->
<header class="flex w-full flex-row justify-between p-4">
	<a href="/"><h2 class="text-2xl font-black">{Astro.generator}</h2></a>
	<ThemeIcon />
</header>
